<h1>Add employee</h1>
<h3>Add a new item:</h3>
<form action="/employee" method="post">
  <label for="new-employee">Employee name:</label>
  <input id="new-employee" name="new-employee" type="text">
  <button type="submit">Submit</button>
</form>